/.buildpath
/.project
/.settings/
/modules/
/skins/
/shared/
/DATA/
/config_*.php
/core/admin/import*
/FTP/
/*.cmd
/.htaccess
/*.lnk
/core/email/
/core/html/flowplayer/
/core/html/CSS/*.css
/__holen.exc
