@CHARSET "utf-8";

body#tethys_ftp div.innerbody,
body#tethys_commits div.innerbody{
	background:none;
	padding:0px;
	max-width:1350px;
	box-shadow:none;
}

/*==================================================================
    MENÜ - Icon
==================================================================*/
div.mainmenu.icons > ul > li.tethys_index > div.submenulabel{ background-image:url('img/tethys/mm_icon.png'); }
