@CHARSET "utf-8";

/*==================================================================
    FONTS
==================================================================*/
@font-face {
	font-family: 'bitwise';
	src: local('bitwise'), url(bitwise.ttf) format('truetype');
}
@font-face {
	font-family: 'AnonymousPro';
	src: local('AnonymousPro'), url(AnonymousPro.woff) format('woff');
}

/*==================================================================
    DYNAMIC DEVELOPMENT
==================================================================*/
div.css_version_141009{
	display:none;
}

/*==================================================================
    BODY,TEXT
==================================================================*/

body{
	background:black;
	color:#85dea5;
}
body,input,pre,select,textarea{
	font-family:"AnonymousPro";
	font-size:14px;
}

div.innerbody,
ul.views_menu{
	background:#0f3a7b;
	padding:20px;
	margin:20px auto;
	border-radius:5px;
	box-shadow:0px 0px 5px #3f6fb7 inset;
	min-height:610px;
	max-width:1310px;
}
body#core_index div.innerbody{
	width:1310px;
}
hr{
	border:none;
	border-bottom:1px solid #85dea5;
	margin:5px 0px;
}

/*==================================================================
    ABSÄTZE
==================================================================*/

h1{
	font-family:bitwise;
	font-size:23px;
	font-weight:normal;
	border-bottom:1px solid #e7cd5e;
	margin:10px 0px;
}

/*----------------------- Codeblock -----------------------*/

pre.code{
	background:black;
	padding:10px;
	border-radius:7px;
	border:1px solid gray;
	color:#e7cd5e;
}

/*==================================================================
    BUTTONS,LINKS
==================================================================*/

a{
	color:#e7cd5e;
	text-decoration:none;
}
a:hover{
	background:#174d9d;
}
input[type=submit],
input[type=button],
a.button{
	border:none;
	background:#85dea5;
	color:#0f3a7b;
	border-radius:5px;
	padding:0px 10px;
}
input[type=submit]:hover,
input[type=button]:hover,
a.button:hover{
	box-shadow:0px 0px 3px #0f3a7b inset;
	cursor:pointer;
}
a[target=_blank]{
	background-image:url('img/core/external-link.png');
	background-repeat:no-repeat;
	background-position:right;
	padding-right:12px;
}

/*==================================================================
    MENÜ
==================================================================*/
div.mainmenu{
	background:#e7cd5e;
	color:black;
}
div.mainmenu a{
	color:black;
	background-color:inherit;
}
div.mainmenu a[target=_blank]{
	background-image:url('img/core/external-link-menu.png');
}
div.mainmenu a[target=_blank]:hover{
	background-image:url('img/core/external-link-red.png');	
}
div.mainmenu a:hover,
div.mainmenu div.menutopic.highlight,
div.mainmenu div.menutopic.highlight a{
	color:#cc060e;
}
div.mainmenu ul{
	margin:0px;
	padding:5px;
	list-style:none;
}
/* Menüpunkte: */
div.mainmenu > ul > li{
	display:inline-block;
}
/* Unter-Menüs: */
div.mainmenu > ul > li > div.submenulabel + ul{
	background:#e7cd5e;
	position:absolute;
	display:none;
}
div.mainmenu > ul > li:hover > div.submenulabel + ul{
	display:block;
}
li.menutopic.core_user_,
li.menutopic.core_admin{
	padding-left:10px;
	float:right;
}
li.menutopic.core_user_ ul{
	position:relative;
	right:0px;
	text-align:right;
}
/*----------------------- Icons -----------------------*/
div.mainmenu.icons > ul > li > div.submenulabel,
div.mainmenu.icons > ul > li.menutopic > div/*DEPRECATED*/ > a{
	background-image:url('img/core/modul.png');
	background-repeat:no-repeat;
	padding-left:23px;
	background-position:2px 0px;
}
div.mainmenu.icons > ul > li.menutopic.core_index > div/*DEPRECATED*/ > a{ background-image:url('img/core/mm_icon_index.png'); }
div.mainmenu.icons > ul > li.menutopic.core_user > div/*DEPRECATED*/ > a{ background-image:url('img/core/mm_icon_user.png'); }
div.mainmenu.icons > ul > li.core_admin > div.submenulabel{ background-image:url('img/core/mm_icon_admin.png'); }
div.mainmenu.icons > ul > li.demo > div.submenulabel{ background-image:url('img/core/mm_icon_demo.png'); }
div.mainmenu.notext{
	height:25px;
}
div.mainmenu.notext > ul > li > div.submenulabel,
div.mainmenu.notext > ul > li.menutopic > div/*DEPRECATED*/ > a{
	display:inline-block;
	padding-left:20px;
	padding-right:0px;
	width:0px;
	overflow:hidden;
}

/*==================================================================
    VIEWS-MENÜ
==================================================================*/
ul.views_menu li div.highlight a{
	color:#cc060e;
}
ul.views_menu{
	list-style:none;
	min-height:0px;
	margin:0px auto 20px auto;
	padding:10px 10px 10px 10px;
	max-width:1330px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
ul.views_menu li{
	display:inline-block;
	margin-right:5px;
}

/*==================================================================
    TABELLEN,LISTEN
==================================================================*/

div.table_wrapper{
}

table{
	border-collapse:collapse;
	margin:10px 0px;
}

table th{
	font-weight:normal;
	text-align:left;
	vertical-align:bottom;
	background:#85dea5;
	color:#0f3a7b;
}

table td,
table th{
	padding-right:10px;
}
table td{
	vertical-align:top;
}
table td:first-child,table th:first-child{
	padding-left:10px;
}

table tbody tr{
	background: linear-gradient(to bottom, rgba(15,58,123,1) 0%,rgba(23,77,157,1) 100%);
}
ul{
	margin:10px 0px;
}
table tbody tr:hover td{
	background:#4f1b39;
}
a.tbl_option{
	border-radius:0px;
	color:#e7cd5e;
	padding:0px 0px 0px 13px;
	display:inline-block;
	width:0px;
	overflow:hidden;
	margin-left:10px;
	background:url('img/core/checkbox_0.png');
	background-repeat:no-repeat;
	background-position:0px 2px;
}
a.tbl_option.tbl_edit{
	background-image:url('img/core/edit.png');
}
a.tbl_option.tbl_delete{
	background-image:url('img/core/delete.png');
}
a.tbl_option:hover{
	box-shadow:none;
}
div.tbl_new{
	margin-top:10px;
}
/*----------------------- table.wide -----------------------*/
table.wide th{
	background:none;
	color:#85dea5;
}
table.wide th:first-child{
	opacity:0;
}
table.wide th.col_highlight{
	color:#e7cd5e;
}
table.wide tbody tr{
	background:none;
}
table.wide tr:hover td:first-child{
	color:#e7cd5e;
}
/*----------------------- core_rights -----------------------*/
table.core_rights thead tr{
	height:120px;
}
table.core_rights th{
	transform-origin:0px 90px;
	max-width:37px;
	width:37px;
}
table.wide th:first-child{
	width:inherit;
}
table.demo_tbl2 th{
	width:50px;
}
/*----------------------- datatables -----------------------*/
div.dataTables_filter{
	text-align:right;
}

/*==================================================================
    FORMULARE
==================================================================*/

input,
select,
textarea{
	color:#85dea5;
	background:#174d9d;
}
form label{
	display:inline-block;
	vertical-align:top;
	min-width:250px;
}
input[type='text'],
input[type='password'],
input[type='search'],
select,
textarea{
	border:none;
}
form select,
form input[type='text'],
form input[type='password'],
form textarea{
	vertical-align:bottom;
	width:500px;
}
input[type=checkbox]{
	width:20px;
	height:13px;
	position:relative;
	z-index:1;
	opacity:0;
}
input[type=checkbox] + div.checkbox_ghost{
	display:inline-block;
	height:13px;
	width:13px;
	background:url('img/core/checkbox_0.png');
	background-repeat:no-repeat;
	position:relative;
	left:-20px;
	margin-right:-20px;
	z-index:0;
}
input[type=checkbox]:checked + div.checkbox_ghost{
	background:url('img/core/checkbox_1.png');
}
input[type=submit]{
	width:inherit;
}
form div.form_field{
	margin-bottom:10px;
}
form fieldset + div.form_buttons{
}
form fieldset{
	border:none;
	border-bottom:1px solid #174d9d;
	margin:10px 0px;
	padding:10px 0px;
}
form fieldset div.form_field:last-child{
	margin-bottom:0px;
}
form fieldset legend{
	padding:0px;
	border-bottom:1px solid #e7cd5e;
}

/*----------------------- Logon -----------------------*/

form.logon label{
	min-width:100px;
}

/*----------------------- members_direct -----------------------*/

table.members_direct select{
	width:500px;
}
table.members_direct ul.chosen-choices{
	background:none;
}


/*==================================================================
    IFRAMES
==================================================================*/

iframe.fullsize{
	height:650px;
	background:white;
	box-shadow:0px 0px 10px white;
	border-radius:5px;
}

iframe.fullsize.demo_css{
	height:200px;
}
