@CHARSET "ISO-8859-1";

/*==================================================================
    FONTS
==================================================================*/
@font-face {
	font-family: 'AnonymousPro';
	src: local('AnonymousPro'), url(AnonymousPro.woff) format('woff');
}

/*==================================================================
    BODY,TEXT
==================================================================*/

/*(IE-Fix)*/
img{
	border:none;
}

body,div,th,td{
	margin:0px;
	padding:0px;
}

ul{
	margin:0px;
	padding:0px 0px 0px 20px;
}

body{
	font-family:"AnonymousPro";
	font-size:14px;
	background:black;
	color:#85dea5;
}

div.innerbody{
	background:#0f3a7b;
	padding:20px;
	margin:20px;
	border-radius:5px;
	box-shadow:0px 0px 5px #3f6fb7 inset;
}

/*==================================================================
    BUTTONS,LINKS
==================================================================*/

a{
	color:#e7cd5e;
	text-decoration:none;
}
a:hover{
	background:#174d9d;
}

/*==================================================================
    MENÜ
==================================================================*/
div.mainmenu{
	background:#e7cd5e;
	color:black;
}
div.mainmenu a{
	color:black;
}
div.mainmenu a:hover,
div.mainmenu div.menutopic.highlight,
div.mainmenu div.menutopic.highlight a{
	color:#cc060e;
	background:inherit;
}
div.mainmenu ul{
	padding:5px;
	list-style:none;
}
/* Menüpunkte: */
div.mainmenu > ul > li{
	display:inline-block;
}
/* Unter-Menüs: */
div.mainmenu > ul > li > div.submenulabel + ul{
	background:#e7cd5e;
	position:absolute;
	display:none;
}
div.mainmenu > ul > li:hover > div.submenulabel + ul{
	display:block;
}

/*==================================================================
    TABELLEN
==================================================================*/

table{
	border-collapse:collapse;
}

table th{
	font-weight:normal;
	text-align:left;
	background:#85dea5;
	color:#0f3a7b;
}

table td,table th{
	padding-right:10px;
}
table td:first-child,table th:first-child{
	padding-left:10px;
}

table tr:nth-child(odd) td{
	background:#174d9d;
}



