@CHARSET "utf-8";

/*==================================================================
    SEITE
==================================================================*/

body{
	padding: 0px;
}

div.devel_performance{
	display:none;
}

/*==================================================================
    NOPRINT
==================================================================*/

.noprint{
	display:none;
}

/*==================================================================
    MENU
==================================================================*/

div.mainmenu{
	display:none;
}
ul.views_menu{
	display:none;
}

/*==================================================================
    BUTTONS
==================================================================*/
a.button{
	display:none;
}
table thead tr{
	border-bottom: 1px solid #4A75A0;
}
table td,
table th{
	height:inherit;
}

/*==================================================================
    TABELLEN
==================================================================*/

div.dataTables_filter{
	display:none;
}
