@CHARSET "utf-8";

/*==================================================================
    FONTS
==================================================================*/
@font-face {
	font-family: 'bitwise';
	src: local('bitwise'), url(bitwise.ttf) format('truetype');
}
@font-face {
	font-family: 'SFPixelate';
	src: local('SFPixelate'), url(SFPixelate.ttf) format('truetype');
}
@font-face {
	font-family: 'PressStart2P';
	src: local('PressStart2P'), url(PressStart2P.ttf) format('truetype');
}
@font-face {
	font-family: 'Lucznik1303Plus';
	src: local('Lucznik1303Plus'), url(Lucznik1303Plus.ttf) format('truetype');
}
@font-face {
	font-family: 'GURU0';
	src: local('GURU0'), url(GURU0.ttf) format('truetype');
}
@font-face {
	font-family: 'D3Digibitmapism';
	src: local('D3Digibitmapism'), url(D3Digibitmapism.TTF) format('truetype');
}
/*
@font-face {
	font-family: '';
	src: local(''), url(.ttf) format('truetype');
}
*/

/*==================================================================
    DYNAMIC DEVELOPMENT
==================================================================*/
div.css_version_141009{
	display:none;
}
div.font1,
div.font1 h1{ font-family:"D3Digibitmapism"; }
div.font1 h1:after{ content:" (D3Digibitmapism)"; }

div.font2,
div.font2 h1{ font-family:"GURU0"; }
div.font2 h1:after{ content:" (GURU0)"; }

div.font3,
div.font3 h1{ font-family:"PressStart2P"; }
div.font3 h1:after{ content:" (PressStart2P)"; }

div.font4,
div.font4 h1{ font-family:"Lucznik1303Plus"; }
div.font4 h1:after{ content:" (Lucznik1303Plus)"; }

div.font5,
div.font5 h1{ font-family:"SFPixelate"; }
div.font5 h1:after{ content:" (SFPixelate)"; }

div.font6,
div.font6 h1{ font-family:"bitwise"; }
div.font6 h1:after{ content:" (bitwise)"; }

div.font7{ display:none; }
div.font8{ display:none; }
div.font9{ display:none; }
div.font10{ display:none; }

/*==================================================================
    BODY,TEXT
==================================================================*/

body,input,select,textarea{
	background:black;
	color:#07c0ef;
}
body,input,pre,select,textarea{
	font-family:SFPixelate,monospace;
	font-size:15px;
}

body{
	margin-bottom:53px;
}

div.innerbody{
	background:#1f2831;
	padding:20px;
	margin:20px auto;
	border:2px solid #004f70;
	border-radius:4px;
	box-shadow:2px 2px 2px black inset,2px 2px 2px #004f70;
	max-width:1200px;
	background:linear-gradient(to top, #1f2831 0px, #2d3844 60px, #2d3844 90px, #1f2831 250px);
}
u{
	text-decoration:none;
}

/*==================================================================
    MENÜ
==================================================================*/
div.mainmenu{
	position:fixed;
	bottom:0;
	left:50%;
	width:1300px;
	margin-left:-650px;
	background:white;
	color:black;
	z-index:1;
	margin-bottom:-10px;
	transition:.8s;
	background:url(img/core/mm_bg1f.png);
	background-repeat:repeat-x;
	height:63px;
}
div.mainmenu:hover{
	margin-bottom:0px;
}
/* Links: */
div.mainmenu > ul > li:first-child{
	background:url(img/core/mm_bg1l.png) no-repeat;
	padding-left:34px;
}
/* Rechts: */
div.mainmenu > ul > li:last-child{
	background:url(img/core/mm_bg1r.png) no-repeat;
	background-position:right 0px;
	padding-right:38px;
}
div.mainmenu_footer{
	float:right;
	height:63px;
	width:86px;
	background:url(img/core/mm_bg1c.png) no-repeat;
	background-position:right 0px;
}

/* Menü: */
div.mainmenu > ul{
	display:inline-block;
	margin:0px;
	padding:0px;
	background:url(img/core/mm_bg1.png) repeat-x;
}
/* Menüpunkte: */
div.mainmenu > ul > li{
	display:inline-block;
	height:63px;
	padding-top:20px;
}
div.mainmenu > ul > li > a,
div.mainmenu > ul > li > div.submenulabel{
	font-family:bitwise;
	vertical-align:top;
	display:inline-block;
	padding:0px 5px;
	font-size:20px;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
}
div.mainmenu > ul > li.highlight > a,
div.mainmenu > ul > li.highlight > div.submenulabel,
div.mainmenu > ul > li.highlight > div.submenulabel a{
	color:#77ffdd;
	text-shadow:0px 0px 2px #77ffdd;
}
/* Unter-Menüs: */
div.mainmenu > ul > li > div.submenulabel + ul{
	padding:0px;
	position:absolute;
	bottom:0;
	left:0;
	margin:0px 0px 63px 30px;
	opacity:0;
	height:0;
	transition:.5s;
	overflow:hidden;
	background:url(img/core/mm_bg2.png) no-repeat;
	width:1203px;
	padding-left:15px;
}
/*Untermenüpunkte:*/
div.mainmenu > ul > li > div.submenulabel + ul > li{
	display:inline-block;
	padding-top:12px;
	padding-left:2px;
}
div.mainmenu > ul > li > div.submenulabel + ul > li,
div.mainmenu > ul > li > div.submenulabel + ul > li a{
	color:#b2ffff;
	text-shadow:1px 1px 1px #013368;
}
div.mainmenu > ul > li > div.submenulabel + ul > li a:hover{
x	color:red;
}
div.mainmenu > ul > li > div.submenulabel + ul > li:before{
	content:"| ";
}
div.mainmenu > ul > li > div.submenulabel + ul > li:first-child:before{
	content:none;
}
div.mainmenu > ul > li:hover > div.submenulabel + ul{
	opacity:1;
	height:42px;
}

/*==================================================================
    VIEWS-MENÜ
==================================================================*/
ul.views_menu{
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-602px;
	padding-left:5px;
	background:url(img/core/mm_bg2.png) no-repeat;
	width:1203px;
	height:42px;
}
ul.views_menu li{
	display:inline-block;
	font-family:bitwise;
	padding:12px 0px 0px 0px;
	font-size:20px;
}
ul.views_menu li:before{
	content:"... ";
}
ul.views_menu li:last-child:after{
	content:" ...";
}
ul.views_menu li.view_highlight a{
	text-shadow:0px 0px 2px #77e4ff;
}


/*==================================================================
    BUTTONS,LINKS
==================================================================*/

a{
	color:#49eddc;
	color:#77e4ff;
	text-decoration:none;
	cursor:pointer;
}
input[type=submit],
input[type=button],
a.button{
	border:none;
	background:none;
	color:#77e4ff;
	padding:0px 0px;
	cursor:pointer;
}
/*Merkwürdiges Phänomen:*/input[type=submit],input[type=button]{ margin:0px -3px; }
input[type=submit]:hover,
input[type=button]:hover,
a:hover,
div.mainmenu > ul > li > div.submenulabel + ul > li a:hover,
div.mainmenu > ul > li > div.submenulabel + ul > li.highlight a{
	text-shadow:0px 0px 2px #77e4ff;
}

/*==================================================================
    TABELLEN,LISTEN
==================================================================*/

div.table_wrapper{
	margin:10px 0px;
}

table th{
	font-weight:normal;
	text-align:left;
	vertical-align:bottom;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
}

table td,
table th{
	padding-right:10px;
}
table td{
	vertical-align:top;
}

/*----------------------- tbl_buttons -----------------------*/
div.tbl_buttons a.button:after{
	content:" |";
}
div.tbl_buttons a.button:last-child:after{
	content:none;
}

/*----------------------- datatables -----------------------*/
div.dataTables_wrapper th:hover{
	cursor:pointer;
}
div.dataTables_filter label span.suche{
	color:#006b98;
	display:inline-block;
	vertical-align:top;
	margin:1px 0px 0px 0px;
}
input[type='search']{
	border:none;
	background:url(img/core/input_bg_narrow.png) no-repeat;
	background-position:0px 3px;
	padding:1px 10px;
	margin:0px;
	width:221px;
	padding-right:13px;
	vertical-align:bottom;
}
div.dataTables_info{
	color:#006b98;
}
a.paginate_button{
	margin-right:10px;
}
a.paginate_button.disabled{
	display:none;
}

/*==================================================================
    DATASHEETS
==================================================================*/

ul.datasheet{
	display:table;
	padding:0;
}
ul.datasheet li{
	display:table-row;
}
ul.datasheet li div{
	display:table-cell;
	padding-right:10px;
}
ul.datasheet li div.data_label{
	color:#006b98;	
}
ul.datasheet li div.data_label:after{
	content:":";
}

/*==================================================================
    SET-CARDS, SETS
==================================================================*/

div.set_card{
	vertical-align:top;
	display:inline-block;
	width:370px;
	margin-right:20px;
	margin-top:20px;
}
div.set_card div.picture_wrapper{
	float:left;
	width:100px;
	max-height:100px;
	overflow:hidden;
	border:2px outset #2a97ea;
	border-radius:4px;
	box-shadow:0px 0px 4px black;
}
div.set_card div.picture_wrapper.leer{
	height:100px;
	background:url(img/nopic.png) no-repeat;
}
div.set_card div.picture_wrapper img{
	width:100px;
	/*Bugfix Merkwürdiger Fehler:*/margin-bottom:-3px;
}
div.set_card div.set_head{
	height:104px;
	overflow:auto;
	padding-left:15px;
}
div.set_card h3{
	font-family:bitwise;
	font-size:20px;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
	margin-bottom:5px;
}
div.set_card h3:before{
	content:none;
}
div.set_card ul.data{
	display:inline-block;
	width:340px;
	padding:15px;
	list-style:none;
	overflow-x:hidden;
	overflow-y:auto;
	max-height:70px;
	padding-bottom:0;
}
div.set_card ul.data li.set_card_data{
	display:table-row;
}
li.set_card_data div{
	display:table-cell;
}
li.set_card_data div.title{
	color:#006b98;
	padding-right:10px;
}
li.set_card_data div.title:after{
	content:":";
}
div.set_card div.buttons{
	margin-top:5px;
}
div.set_card a.button{
	margin-right:10px;
}
div.set_buttons{
	margin-top:10px;
}
div.set_buttons a.button{
	margin-right:10px;
}

/*==================================================================
    ABSÄTZE
==================================================================*/

h1{
	font-family:bitwise;
	font-size:25px;
	font-weight:normal;
	margin:10px 0px;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
}
h2{
	font-weight:normal;
	font-size:15px;
	margin-top:10px;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
}
h2:before{
	content:"== ";
}
h2:after{
	content:" ==";
}
h3{
	font-weight:normal;
	font-size:15px;
	margin-top:10px;
}
h3:before{ content:":: "; }
hr{
	color:#07c0ef;
	border:none;
	text-align:center;
	margin:10px 0px 22px 0px;
}
hr:after{
	content:"========================================================================================";
}

/*==================================================================
    FORMULARE
==================================================================*/

form{
	margin:10px 0px;
}
form label{
	display:inline-block;
	margin-top:1px;
	vertical-align:top;
	color:#006b98;
}
form label:after{
	content:":";
}
div.form_buttons label:after{
	content:none;
}
form input[type='text'],
form input[type='password'],
form select,
form textarea{
	border:none;
	padding-left:10px;
}
form input[type='text'],
form input[type='password']{
	background:url(img/core/input_bg_wide.png) no-repeat;
	background-position:0px 3px;
	padding:1px 10px;
	margin:0px 10px;
	width:550px;/*???*/
	padding-right:13px;
	vertical-align:bottom;
}
form textarea{
	background:url(img/core/textarea_bg_large.png) no-repeat;
	background-position:0px 3px;
	padding:1px 10px;
	padding-right:13px;
	margin:0px 10px;
	width:515px;
	height:120px;
}
form select{
	background:none;
	padding:0 0 0 2px;
}
input[type=checkbox]{
	width:20px;
	height:13px;
	position:relative;
	left:5px;
	top:1px;
	z-index:1;
	opacity:0;
}
input[type=checkbox] + div.checkbox_ghost{
	display:inline-block;
	height:13px;
	width:22px;
	position:relative;
	left:-20px;
	margin-right:-20px;
	z-index:0;
	color:#77e4ff;
}
input[type=checkbox]:hover + div.checkbox_ghost{
	text-shadow:0px 0px 2px #77e4ff;
}
input[type=checkbox] + div.checkbox_ghost:after{
	content:"[ ]";
}
input[type=checkbox]:checked + div.checkbox_ghost:after{
	content:"[X]";
}
form fieldset{
	border:none;
	margin:0px 0px;
	padding:0px 0px;
}
form fieldset legend{
	padding:0px;
	margin:10px 0px 5px 0px;
	color:#77e4ff;
	text-shadow:0px 0px 2px #77e4ff;
}
div.form_buttons{
	margin-top:5px;
}
div.form_buttons input{
	margin-right:10px;
}
