@CHARSET "utf-8";

/*==================================================================
    DYNAMIC DEVELOPMENT
==================================================================*/
div.invisible,
span.invisible{
	display:none;
}
/*CSS Developer:
.invisible{background:url('img/devel_bg.png');}
div.invisible{display:block;}
span.invisible{display:inline;}
/**/
div.devel_performance{
	text-align:right;
}

/*==================================================================
    BODY,TEXT
==================================================================*/

/*(IE-Fix)*/
img{
	border:none;
}

body,div,th,td,h1,h2,h3,h4,hr,pre{
	margin:0px;
	padding:0px;
}

ul{
	margin:0px;
	padding:0px 0px 0px 20px;
}

span.strike{
	text-decoration:line-through;
}

pre{
	white-space:pre-wrap;
}

/*==================================================================
    TABELLEN,LISTEN
==================================================================*/

/*----------------------- table.wide -----------------------*/
table.wide thead tr{
	height:100px;
}
table.wide th{
	text-align:left;
	vertical-align:bottom;
	transform: rotate(-30deg);
	transform-origin:0px 70px;
	padding:0px;
	max-width:50px;
	width:50px;
	word-break: keep-all;
}
table.wide th:first-child{
	max-width:inherit;
	width:inherit;
	transform:none;
}

/*==================================================================
    FRAME
==================================================================*/

div.iframe_fullscreen iframe{
	border:none;
	position:relative;
	width:100%;
	height:100%;
	vertical-align:top;
}

/*==================================================================
    PROGRESS BAR
==================================================================*/
div.tprogress{
	border:1px solid black;
}
div.tprogressbar{
	border-right:1px solid black;
	display:inline-block;
}
