@CHARSET "utf-8";

/*==================================================================
    FONTS
==================================================================*/
@font-face {
	font-family: 'Lato';
	src: local('Lato'), url(Lato.woff) format('woff');
}

/*==================================================================
    BODY,TEXT
==================================================================*/

body{
	background:white;
	color:black;
	padding:5px;
}
body,input,pre,select,textarea{
	font-family:"Lato";
	font-size:14px;
}

/*==================================================================
    BUTTONS,LINKS
==================================================================*/

a{
	color:black;
	text-decoration:underline;
	cursor:pointer;
}
input[type=submit],
input[type=button],
a.button{
	border:1px solid black;
	background:white;
	border-radius:3px;
	padding:0px 5px;
	text-decoration:none;
	cursor:pointer;
}
input[type=submit]:hover,
input[type=button]:hover,
a.button:hover{
	background:#eee;
}
a[target=_blank]{
	background-image:url('external-link.png');
	background-repeat:no-repeat;
	background-position:left;
	padding-left:12px;
	margin-left:2px;
}

/*==================================================================
    MESSAGES
==================================================================*/
div.messages{
	display:inline-block;
}
div.messages div.message{
	border:1px solid black;
	border-radius:3px;
	margin-bottom:5px;
	padding:0px 5px;
}

/*==================================================================
    MENÜ
==================================================================*/
div.mainmenu{
	margin-bottom:5px;
}
div.mainmenu > ul{
	padding:0px;
	list-style:none;
	display:table;
	border-collapse:collapse;
}
div.mainmenu > ul > li{
	display:table-cell;
	vertical-align:top;
	border:1px solid black;
	padding:5px;
}

/*==================================================================
    VIEWS-MENÜ
==================================================================*/
ul.views_menu{
	list-style:none;
	padding:5px;
}
ul.views_menu li{
	display:inline-block;
	margin-right:5px;
}

/*==================================================================
    ABSÄTZE
==================================================================*/

h1{
	font-size:22px;
	font-weight:normal;
	margin:5px 0px;
}
h2{
	font-size:20px;
	font-weight:normal;
	margin:5px 0px;
}
h3{
	font-size:18px;
	font-weight:normal;
	margin:5px 0px;
}
hr{
	border:none;
	border-bottom:1px solid black;
	margin:5px 0px;
}

/*----------------------- Codeblock -----------------------*/

pre.code{
	font-family:courier new,monospace;
	margin:5px 0;
}

/*==================================================================
    TABELLEN,LISTEN
==================================================================*/

div.table_wrapper{
	margin:5px 0px;
}
table{
	margin:5px 0px;
	border-collapse:collapse;
	border:1px solid black;
}
table th{
	font-weight:normal;
	text-align:left;
	border-left:1px solid black;
}
table td,
table th{
	border-bottom:1px solid black;
	padding:0px 5px;
}
table td{
	vertical-align:top;
}
table th{
	vertical-align:bottom;
}
table tbody tr:hover{
	background:#eee;
}
table th.col_highlight{
	color:red;
}
div.tbl_new{
	margin-top:5px;
}
/*----------------------- tbl_buttons -----------------------*/
div.tbl_buttons{
	margin-top:5px;
}
/*----------------------- table.wide -----------------------*/
table.wide{
	border:none;
}
table.wide th{
	border-left:none;
	border-right:none;
}

/*----------------------- datatables -----------------------*/
div.dataTables_wrapper{
	display:inline-block;
}
div.dataTables_filter{
	text-align:right;
}
a.paginate_button{
	margin-right:5px;
}
a.paginate_button.disabled{
	display:none;
}


/*==================================================================
    FORMULARE
==================================================================*/

form{
	width:710px;
}
form label{
	display:inline-block;
	vertical-align:top;
	margin-top:3px;
	min-width:200px;
}
form label:after{
	content:":";
}
input[type='text'],
input[type='password'],
input[type='search'],
select,
textarea{
	border:none;
	border-bottom:1px solid black;
	border-left:1px solid black;
}
form select,
form input[type='text'],
form input[type='password'],
form textarea{
	vertical-align:bottom;
	width:500px;
}
form div.form_field{
	margin-bottom:5px;
}
form div.form_field.info pre{
	display:inline-block;
	margin-top:3px;
}
form div.form_buttons label:after{
	content:none;
}
form fieldset{
	border:1px dashed black;
	margin:5px 0px;
	padding:5px 5px 0px 5px;
}
form fieldset label{
	min-width:195px;
}
form fieldset legend{
	padding:0px 5px;
}

/*==================================================================
    SET-CARDS, SETS
==================================================================*/

div.set_card{
	vertical-align:top;
	display:inline-block;
	width:370px;
	margin-right:10px;
	margin-top:10px;
	border:1px dashed black;
}
div.set_card div.picture_wrapper{
	float:left;
	width:100px;
	max-height:100px;
	overflow:hidden;
}
div.set_card div.picture_wrapper.leer{
	height:100px;
	background:url(img/nopic.png) no-repeat;
}
div.set_card div.picture_wrapper img{
	width:100px;
}
div.set_card div.set_head{
	min-height:100px;
	padding-left:110px;
}
div.set_card ul.data{
	padding:5px 10px;
	list-style:none;
}
div.set_card ul.data li.set_card_data{
	display:table-row;
}
li.set_card_data div{
	display:table-cell;
}
li.set_card_data div.title{
	padding-right:10px;
	text-align:right;
}
li.set_card_data div.title:after{
	content:":";
}
div.set_card div.buttons{
	margin:5px;
}
div.set_card div.buttons a.button{
	margin-right:5px;
}

/*==================================================================
    DATASHEETS
==================================================================*/

div.datasheet{
	margin:5px 0px 10px 0px;
}
ul.datasheet{
	display:table;
	padding:0;
	margin-bottom:5px;
}
ul.datasheet li{
	display:table-row;
}
ul.datasheet li div{
	display:table-cell;
	padding-right:10px;
}
ul.datasheet li div.data_label:after{
	content:":";
}
